﻿@{
    ViewBag.Title = "Index";
}

<h2>Word Cloud Test</h2>


<div id="wordCanvas"></div>

<p id="wordArray"></p>

@section scripts
{

    <script src="~/Scripts/WordCloud/d3.js"></script>
    <script src="~/Scripts/WordCloud/d3.layout.cloud.js"></script>

    <script>

        var wordArray = ["hello","world","welcome","to","hell","what is your name?","this thing sucks!", "this place used to \r\n rule but now its overdone", "lorem ipsum lorem ipsum ipsum lorem blah blah"];


        $(document).ready(function () {

            var width = screen.width;
          
            var height = screen.height;
        

            var fontScale = width/30;

            var fill = d3.scale.category20();
            var transVal = "translate(" + width / 3 + "," + (height - 50) / 3 + ")";

      
            d3.layout.cloud().size([width, height-50])
              .words(wordArray.map(function(d) {
                  return { text: d, size: (fontScale /2) + (Math.random() * fontScale)  };
              }))
               .padding(-10)
               .rotate(function () { return ~~ (Math.random() * 2) * 90; })
               .font("Impact")
               .fontSize(function(d) { return d.size; })
               .on("end", draw)
               .start();

            function draw(words) {
                d3.select("#wordCanvas").append("svg")
                    .attr("width", width)
                    .attr("height", height - 50)
                  .append("g")
                    .attr("transform", transVal)
                  .selectAll("text")
                    .data(words)
                  .enter().append("text")
                    .style("font-size", function(d) { return d.size + "px"; })
                    .style("font-family", "Impact")
                    .style("fill", function(d, i) { return fill(i); })
                    .attr("text-anchor", "middle")
                    .attr("transform", function(d) {
                        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function(d) { return d.text; });
            }

           

        });



    </script>



}
