﻿@{
    ViewBag.Title = "About";
}

<h3>ttagr is anonymous digital graffiti</h3>
<h3>source: <a href="https://bitbucket.org/tdonlan/ttagr">https://bitbucket.org/tdonlan/ttagr</a></h3>
<p>it was built using <a href="http://www.asp.net/vnext/overview/aspnet-mvc">mvc5</a>, <a href="http://www.windowsazure.com/en-us/">azure</a>,
<a href="https://developers.google.com/maps/documentation/geocoding/">google geocoding api</a>,
    <a href="http://www.fontspace.com/category/graffiti">and some free graffiti fonts</a></p>

<hr />
<h3>Changelog</h3>
<p>2014-01-22 - shrunk range of tags returned</p>
