﻿@model Jan3DevTest.Models.ttagrDataModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        <h3 id="LocationTitle">Add Tag</h3>

        <div class="form-group">
      
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>

                @Html.HiddenFor(model => model.Latitude)
                @Html.HiddenFor(model => model.Longitude)
                @Html.HiddenFor(model => model.Location)
     

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Add Tag" class="btn btn-default" />
            </div>
           </div>
    </div>
}

@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
        $(document).ready(function () {

            getLatLong();
           
        });

        function getLatLong() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
            else { x.innerHTML = "Geolocation is not supported by this browser."; }
        }

        function showPosition(position) {

            $("#Latitude").val(position.coords.latitude);
            $("#Latitude").each(resizeInput);
            $("#Longitude").val(position.coords.longitude);
            $("#Longitude").each(resizeInput);

            getLocation();

        }

        function getLocation()
        {

            var latlong = $("#Latitude").val() + "," + $("#Longitude").val();
         

            var googleURL = "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + latlong + "&sensor=true";

            var locObj;

            $.getJSON(googleURL)
            .done(function (data) {
                locObj = data;


               
                var locStr = locObj.results[0].formatted_address;
                $("#Location").val(locStr);
                $("#LocationTitle").text(locStr);

            });
        }


        function resizeInput() {
            $(this).attr('size', $(this).val().length);
        }

</script>
}