﻿@font-face {
	font-family: adrip;
	src: url('../fonts/grafitti/adrip1.ttf');
}

@font-face {
	font-family: bworld;
	src: url('../fonts/grafitti/BeautifulWorldNBP.ttf');
}

@font-face {
	font-family: CAPconstruct;
	src: url('../fonts/grafitti/CAPconstruct.ttf');
}

@font-face {
	font-family: GirlyGraffiti;
	src: url('../fonts/grafitti/GirlyGraffiti.ttf');
}

@font-face {
	font-family: scratch;
	src: url('../fonts/grafitti/Scratched car paint.ttf');
}

@font-face {
	font-family: streetsoul;
	src: url('../fonts/grafitti/street soul.ttf');
}

@font-face {
	font-family: whoa;
	src: url('../fonts/grafitti/whoa!.ttf');
}


p.font1{
   text-transform:lowercase;
	font-family: whoa; 
	-webkit-text-stroke: 1px black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

p.font2{

  
	font-family: streetsoul; 
	-webkit-text-stroke: 1px black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

p.font3{

  

	font-family: scratch; 
	-webkit-text-stroke: 1px black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

p.font4{

    

	font-family: GirlyGraffiti; 
	-webkit-text-stroke: 1px black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

p.font5{

    
    text-transform:uppercase;
	font-family: CAPconstruct; 
	-webkit-text-stroke: 1px black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

p.font6{

   

	font-family: bworld; 
	-webkit-text-stroke: 1px black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

p.font7{

   

	font-family: adrip; 
	-webkit-text-stroke: 1px black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}