﻿@model Jan3DevTest.Models.TestModel

<p>@ViewBag.Message</p>

@using (Html.BeginForm("TestSubmit", "Test", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary()
       <div class="form-group">
                    @Html.LabelFor(m => m.Text, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                </div>
    
  
                        @Html.HiddenFor(m => m.Location, new { @class = "form-control",  @id="txtLocation" })
          

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            getLocation();
        });


        var x = document.getElementById("txtLocation");
        
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
            else { x.innerHTML = "Geolocation is not supported by this browser."; }
        }

        function showPosition(position) {
            var loc = "Latitude: " + position.coords.latitude +
            " Longitude: " + position.coords.longitude;

            var x = document.getElementById("txtLocation");
            x.value = loc;
            $("txtLocation").text = loc;
        }

    </script>
}

