﻿@model IEnumerable<Jan3DevTest.Models.TestModel>

@{
    ViewBag.Title = "Index";
}

<h2>Word Cloud</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="wordCanvas"></div>

<p id="wordArray"></p>



@section scripts
{

<script src="~/Scripts/WordCloud/d3.js"></script>
<script src="~/Scripts/WordCloud/d3.layout.cloud.js"></script>
  
    <script>

          var wordArray = [];
        

        $(document).ready(function () {
            var wordObj =  @Html.Raw(Json.Encode(Model));

            var outStr = "";
           
            for(var o in wordObj)
            {
                outStr += wordObj[o].Text + ", ";
                wordArray.push(wordObj[o].Text);
            }

            $("#wordArray").text(outStr);

            var fill = d3.scale.category20();

            d3.layout.cloud().size([900, 600])
              .words(wordArray.map(function(d) {
                  return {text: d, size: 30};
              }))
               .padding(-5)
               .rotate(function() { return ~~(Math.random() * 12) ; })
               .font("Impact")
               .fontSize(function(d) { return d.size; })
               .on("end", draw)
               .start();

            function draw(words) {
                d3.select("#wordCanvas").append("svg")
                    .attr("width", 900)
                    .attr("height", 600)
                  .append("g")
                    .attr("transform", "translate(350,250)")
                  .selectAll("text")
                    .data(words)
                  .enter().append("text")
                    .style("font-size", function(d) { return d.size + "px"; })
                    .style("font-family", "Impact")
                    .style("fill", function(d, i) { return fill(i); })
                    .attr("text-anchor", "middle")
                    .attr("transform", function(d) {
                        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function(d) { return d.text; });
            }

        });


   
    </script>



}
