﻿@model Jan3DevTest.Models.TestModel

@{
    ViewBag.Title = "ViewLocation";
}

<h2>View Location</h2>

<p>Google Map stuff below:</p>
   <div id="TestData">
       @Html.DisplayFor(model =>model.Latitude)
       @Html.DisplayFor(model => model.Longitude)
   </div>

<div id="location"></div>



@section scripts
{
 
<text>
    <!--From https://developers.google.com/maps/documentation/javascript/examples/geocoding-reverse -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>


        $(document).ready(function () {


            var latlong = '@(Model.Latitude)' + "," + '@(Model.Longitude)';
         
            var googleURL = "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + latlong + "&sensor=true";

            var locObj;

            $.getJSON(googleURL)
            .done(function (data) {
                locObj = data;
                alert(locObj.results[0].formatted_address);

            });

        });


    </script>


</text>


}