﻿@model IEnumerable<Jan3DevTest.Models.ttagrDataModel>

@{
    ViewBag.Title = "Index";
}


<br /><br />
<h2 id="Location">Tags near: </h2>

<div id="wordCanvas"></div>

<p id="wordArray"></p>


@section scripts
{

    <script src="~/Scripts/WordCloud/d3.js"></script>
    <script src="~/Scripts/WordCloud/d3.layout.cloud.js"></script>

    <script>

        $(document).ready(function () {

            getLocation();

        });

        function getLocation()
        {
            if (navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
            else { x.innerHTML = "Geolocation is not supported by this browser."; }


            function showPosition(position)
            {

                var lat = position.coords.latitude;
                var lon = position.coords.longitude;
                getTextLocation(lat, lon);
                getData(lat, lon);

            }
        }

        function getData(lat, lon)
        {

            var wordArray = [];

            var jsonData = JSON.stringify({
                "lat": lat,
                "lon": lon
                });

            $.ajax({
                type: "POST",
                url: '@Url.Action("ViewDataPost", "View")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: jsonData,
                success: successFunc,
                error: errorFunc
                });

            function successFunc(data) {
                var wordObj = data;

                for (var o in wordObj) {
                    wordArray.push(wordObj[o].Text);
                }

                DrawWordcloud(wordArray);

            }

            function errorFunc(xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        }

        function DrawWordcloud(wordArray) {

            var width = screen.width;
            var height = screen.height;
            var fontScale = width / 30;

            var fill = d3.scale.category20();

            var transVal = "translate(" + width / 3 + "," + (height - 50) / 3 + ")";

            d3.layout.cloud().size([width, height - 50])
              .words(wordArray.map(function (d) {
                  return { text: d, size: (fontScale / 2) + (Math.random() * fontScale) };
              }))
               .padding(-5)
               .rotate(function () { return ~~ ((Math.random() * 2) * 30) - 30; })
               .font("Impact")
               .fontSize(function (d) { return d.size; })
               .on("end", draw)
               .start();

            function draw(words) {
                d3.select("#wordCanvas").append("svg")
                    .attr("width", width)
                    .attr("height", height - 50)
                  .append("g")
                    .attr("transform", transVal)
                  .selectAll("text")
                    .data(words)
                  .enter().append("text")
                    .style("font-size", function (d) { return d.size + "px"; })
                    .style("font-family", "Impact")
                    .style("fill", function (d, i) { return fill(i); })
                    .attr("text-anchor", "middle")
                    .attr("transform", function (d) {
                        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function (d) { return d.text; });
            }
        }

        function getTextLocation(lat,lon) {

           
            var latlong = lat + "," + lon;

            var googleURL = "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + latlong + "&sensor=true";

            var locObj;

            $.getJSON(googleURL)
            .done(function (data) {
                locObj = data;
   

                $("#Location").text("Tags near " + locObj.results[0].formatted_address);
                
            });
        }

       

    </script>


}
