﻿
@{
    ViewBag.Title = "ViewGrafitti";
}

<h2>ViewGrafitti</h2>

<p class="font1 grafitti">Hello World</p>
<p class="font2 grafitti">Hello World</p>
<p class="font3 grafitti">Hello World</p>
<p class="font4 grafitti">Hello World</p>
<p class="font5 grafitti">Hello World</p>
<p class="font6 grafitti">Hello World</p>
<p class="font7 grafitti">Hello World</p>

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".grafitti").each(function () {

                var size = Math.random() * 80 + 20 + "px";

                var colorVal = Math.floor(Math.random() * 10 + 1);
                var color;
                var color2;
                switch(colorVal)
                {
                    case 1:
                        color = "#b52324";
                        color2 = "#488ca3";
                        break;
                    case 2:
                        color = "#5578ae";
                        color2 = "#488ca3";
                        break;
                    case 3:
                        color = "#fafb07";
                        color2 = "#488ca3";
                        break;
                    case 4:
                        color = "#ff0d9d";
                        color2 = "#488ca3";
                        break;
                    case 5:
                        color = "#c47d53";
                        color2 = "#488ca3";
                        break;
                    case 6:
                        color = "#9895da";
                        color2 = "#488ca3";
                        break;
                    case 7:
                        color = "#f812a8";
                        color2 = "#488ca3";
                        break;
                    case 8:
                        color = "#488ca3";
                        color2 = "#488ca3";
                        break;
                    case 9:
                        color = "#c71ace";
                        color2 = "#488ca3";
                        break;
                    case 10:
                        color = "#1c6abf";
                        color2 = "#488ca3";
                        break;
                    default: color = "#b52324"; color2 = "#488ca3"; break;

                }

               
                $(this).offset({ "top": Math.random() * (screen.height / 3) + 50, "left": Math.random() * (screen.width / 3) });
                $(this).css({ "opacity": Math.random() });
                $(this).css({ "font-size": size, color: color, "-webkit-text-stroke": "2px " + color2 });

                });

           
        });

     

    </script>
}