﻿
@{
    ViewBag.Title = "ViewGrafitti";
}
<h3 id="Location">Tags near: </h3>
<div id="wordWrapper" onclick="location.href='@Url.Action("Create", "Create")'"></div>

@section scripts
{
    <script>

        $(document).ready(function () {

            getLocation();

        });

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
            else { x.innerHTML = "Geolocation is not supported by this browser."; }


            function showPosition(position) {

                var lat = position.coords.latitude;
                var lon = position.coords.longitude;

         
                getTextLocation(lat, lon);
                getData(lat, lon);

            }
        }

        function getData(lat, lon) {

            var wordArray = [];

            var jsonData = JSON.stringify({
                "lat": lat,
                "lon": lon
            });

            $.ajax({
                type: "POST",
                url: '@Url.Action("ViewDataPost", "View")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: jsonData,
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data) {
                var wordObj = data;

                for (var o in wordObj) {
                    wordArray.push(wordObj[o].Text);
                }

                DrawGrafitti(wordArray);

            }

            function errorFunc(xhr, ajaxOptions, thrownError) {
          
            }
        }

        function DrawGrafitti(wordArray) {

            var count = 1;
            for (var word in wordArray)
            {

                var size = Math.random() * 80 + 20 + "px";

                var colorVal = Math.floor(Math.random() * 10 + 1);
                var color;
                var color2;
                switch (colorVal) {
                    case 1:
                        color = "#b52324";
                        color2 = "#5578ae";
                        break;
                    case 2:
                        color = "#fafb07";
                        color2 = "#ff0d9d";
                        break;
                    case 3:
                        color = "#c47d53";
                        color2 = "#9895da";
                        break;
                    case 4:
                        color = "#f812a8";
                        color2 = "#488ca3";
                        break;
                    case 5:
                        color = "#c71ace";
                        color2 = "#1c6abf";
                        break;
                    case 6:
                        color = "#ffa74e";
                        color2 = "#2c1100";
                        break;
                    case 7:
                        color = "#51a0e2";
                        color2 = "#161245";
                        break;
                    case 8:
                        color = "#ad0600";
                        color2 = "#f9ee34";
                        break;
                    case 9:
                        color = "#e9fc64";
                        color2 = "#61d828";
                        break;
                    case 10:
                        color = "#da530a";
                        color2 = "#00eaef";
                        break;
                    default: color = "#b52324"; color2 = "#488ca3"; break;

                }

                var p = jQuery('<p/>', {
                    id: 'word' + 1,
                    text: wordArray[word]
                });

                $("#wordWrapper").append(p);

                var fontclass = "font" + Math.floor(Math.random() * 7 + 1);
                p.addClass(fontclass);

        
                //p.offset({ "top": Math.random() * -100 + 200, "left": Math.random() * -100 + 50 });
                //p.css({ "opacity": Math.random() });
                p.css({ "text-align":"center", "font-size": size, color: color, "-webkit-text-stroke": "2px " + color2 });

            }

        }

        function getTextLocation(lat, lon) {


            var latlong = lat + "," + lon;

            var googleURL = "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + latlong + "&sensor=true";

            var locObj;

            $.getJSON(googleURL)
            .done(function (data) {
                locObj = data;


                $("#Location").text("Tags near " + locObj.results[0].formatted_address);

            });
        }


    </script>
}