﻿
@{
    ViewBag.Title = "ViewData";
}

<h2>ViewData</h2>

<div id="result"></div>

@section scripts
{
    <script>
      $(document).ready(function () {


          var jsonData = JSON.stringify({
              "lat": 30,
              "lon": -80
          });

          $.ajax({
              type: "POST",
            url: '@Url.Action("ViewDataPost", "View")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: jsonData,
            success: successFunc,
            error: errorFunc
          });

          function successFunc(data)
          {
              $("#result").text(JSON.stringify(data))
        
          }

          function errorFunc(xhr, ajaxOptions, thrownError) {
              alert(xhr.status);
              alert(thrownError);
          }

        });
      </script>
}

